#header_menu {
    @include bp ("lg") {
        .return {
            position: relative;
            right: 40%;
            top: 8px;
        }
    }
    @include bp ("sm") {
        .return {
            right: 20%;
        }
    }
}

#explore {
    button {
        font-family:'Roboto';
        color: #FFFFFF;
        background: linear-gradient($gradient);
        border: none;
        border-radius: 20px;
        padding: 10px 15px;
        cursor: pointer;
        box-shadow: 3px 6px 4px 2px $box-shadow_card;
        transition: all 1s;
        &:hover {
            background: linear-gradient($light-gradient);
            box-shadow: 3px 6px 4px 2px $dark-shadow_card;
        }
    }
}

#send {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: $lightgrey-bkg;
    padding: 30px 0px;
    button {
        font-family:'Roboto';
        color: #FFFFFF;
        background: linear-gradient($gradient);
        border: none;
        border-radius: 20px;
        padding: 10px 25px;
        box-shadow: 3px 6px 4px 2px $box-shadow_card;
        &:hover {
            cursor: pointer;
        }
    }
}


