#header_menu {
    .return {
        position: absolute;
        left: 20px;
        top: 25px;
        font-size: 20px;
        color: black;
        &:hover {
            color: $primary;
        }
    }
}

#explore {
    button {
        font-family:'Roboto';
        color: #FFFFFF;
        position: relative;
        @include gradient-btn;
        border: none;
        border-radius: 20px;
        padding: 10px 15px;
        cursor: pointer;
        box-shadow: 5px 5px 15px $box-shadow_card;
        &::after {
            content:'';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height:100%;
            border-radius: 20px;
            box-shadow: 0px 0px 0px $box-shadow_card;
            background-color: white;
            opacity: 0;
            z-index: 2;
            transition: all 1000ms;
        }
        &:hover::after {
            box-shadow: 6px 6px 10px  black;
            opacity: 0.2;
        }
    }
}

#send {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: $background-light;
    padding: 30px 0px;
    button {
        font-family:'Roboto';
        color: #FFFFFF;
        position: relative;
        @include gradient-btn;
        border: none;
        border-radius: 20px;
        padding: 10px 25px;
        box-shadow: 3px 6px 4px 2px $box-shadow_card;
        cursor: pointer;
        &::after {
            content:'';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height:100%;
            border-radius: 20px;
            box-shadow: 0px 0px 0px $box-shadow_card;
            background-color: white;
            opacity: 0;
            z-index: 2;
            transition: all 1000ms;
        }
        &:hover::after {
            box-shadow: 6px 6px 10px  black;
            opacity: 0.2;
        }
    }
}

.coeur {
    display: flex;
    position: relative;
    width: 10%;
    height: auto;
    &:hover {
      .coeur-vide {
        stroke-dasharray: 1800px;
        stroke-dashoffset: 1800px;
        animation: contours 1000ms linear forwards;
      }
      .coeur-plein {
        animation: boop 1000ms linear forwards;
        animation-delay: 1000ms;
      }
    }
    .box {
      position: absolute;
      height: 0;
      width: 0;
      opacity: 0;
    }
    .coeur-vide {
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      fill: transparent;
      stroke: black;
      stroke-width: 20px;
    }
    .coeur-plein {
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      stroke: transparent;
      fill: url(#gradient);
      opacity: 0;
    }
}


