.explore__button {
    @include violet-btn;
    margin: 0px 70px;
    border-radius: 20px;
    padding: 10px 15px;

}

.coeur-plein {
    &:hover {
        @include coeur-violet;    
    }
    &:active {
        @include coeur-violet;   
    }
}

.button {
    @include violet-btn;
    border-radius: 30px;
    padding: 15px 45px;
}