#explore {
    width: 100%;
    font-family:'Roboto';
    text-align:center;
    background-color:$background-light;
    padding:40px;
    h2 {
        font-family: 'Roboto';
        font-size:23px;
        font-weight: 900;
    }
    p {
        font-size: 14px;
        font-weight: 400;
        color:$font-dark;
        margin: 15px 0px;
    }
}
