#explore {
    width: 100%;
    font-family:'Roboto';
    text-align:center;
    background-color:$lightgrey-bkg;
    padding:40px;
    h2 {
        @include h2;
    }
    p {
        font-size: 14px;
        font-weight: 400;
        color:$gris-noir;
        margin-bottom: 15px;
    }
}
