@mixin form-bloc {
    display: flex;
    justify-content:center;
    width:100%;
}
@mixin form-style {
    color:$font-dark;
    background:linear-gradient(0deg,$color-bottom 75%, $color-top 100%);
}
@mixin form-font {
    font-family:"Roboto";
    font-size: 13px;
    font-weight: bold;
}

form {
    @include form-bloc;
    padding: 10px 0px;
    @include form-style;
    label {
        font-size: 13px;
    }
    input {
        width:120px;
        border: none;
        @include form-font;
        text-align: center;
        background-color: #eaeaea;
        color:$font-dark;
    }
}