.position {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width:100%;
    @include gradient_form;
    padding: 10px 0px;
    font-size: 15px;
    color:$font-dark;
    &__text {
        width:120px;
        border: none;
        background-color: $color-bottom;
        margin-left:5px;
        font-family:"Roboto";
        font-size: 15px;
        font-weight: bold;
        color:$font-dark;
    }
}