#loadspinner {
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  background-color: black;
  animation: apparition 6000ms linear forwards;
  .stroke {
    @include absolute-center;
    width: 30%;
    min-width: 300px;
    height: 100px;
    fill: transparent;
    stroke-width: 1px;
    stroke:$secondary;
    stroke-dasharray: 300px;
    stroke-dashoffset: 300px;
    animation:contour 5000ms ease forwards;
    animation-delay: 250ms;
  }
  .fill {
    @include absolute-center;
    width: 30%;
    min-width: 300px;
    height: 100px;
    stroke:transparent;
    fill:$secondary;
    opacity: 0;
    animation: swell 3250ms ease forwards;
    animation-delay: 2400ms;
  } 
} 
