.tutorial {
    @include bloc-list;
    list-style: none;
    padding:20px;
    &__list {
        @include bloc-list;
    }
}
.tutorial__title {
    width:100%;
    font-family:'Roboto';
    font-size: 20px;
    font-weight: 900;
    margin: 20px 0px;
}
.tutorial-card {
    @include bp ("lg") {
        width:30%;
    }
    @include bp ("md") {
        width: 40%;
    }
    @include bp ("sm") {
        width: 100%;
    }
}
.tutorial-card__link {
    display:flex;
    width: 100%;
    position: relative;
    font-family:"Roboto";
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 20px;
    &:hover, &:focus {
        animation: swell-focus 400ms linear forwards;
        .icon {
            color: $primary;
        }
        .tutorial-card__content {
            background-color: rgba(147, 86, 220, 0.2);
        }
    }
}
.numb {
    position: absolute;
    margin: auto;
    left: -13px;
    top: 23px;
    width: 23px;
    height: 23px;
    background-color: $primary;
    border-radius: 20px;
    color: #FFF;
    padding: 5px 7px; 
    z-index: 2;
}
.tutorial-card__content {
    display: flex;
    width:100%;
    align-items: baseline;
    background-color: $background-light;
    padding: 25px 0px 25px 15px;
    border-radius: 10px;
    @include box-shadow;
    color:$font-dark;
    z-index: 1;
    .tutorial-card__title {
        margin-left: 25px;
    }
    .icon {
        font-size: 16px;
        margin-left: 25px;
    }
 }