#tutorial {
    @include bp ("lg") { 
        @include ligne-bloc;
        list-style: none;
        padding:20px;
        ul {
            width: 100%;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            .card {
                width:30%;
                a {
                    display:flex;
                    width: 100%;
                    margin-bottom: 20px;
                    text-decoration: none;
                    &:hover, &:focus {
                        i {
                            color: $violet;
                        }
                    }
                    p {
                    font-family:"Roboto";
                    font-size: 13px;
                    position: absolute;
                    margin: 23px 0px;
                    @include violet-numb;
                    }
                    div {
                        display: flex;
                        align-items: baseline;
                        padding: 25px 0px 25px 27px;
                        margin-left: 10px;
                        @include style-card--grey;
                        color: $gris-noir;
                        h4 {
                            @include h4;
                            margin-left: 30px;
                            text-decoration: none;
                        }
                        i {
                            width: 20px;
                            text-decoration: none;
                            color:$gris-noir;
                        }
                    }
                }
            }
        }
    }
    @include bp ("sm") {
        ul {
            .card {
                width: 100%;
            }
        } 
    }
}