@keyframes apparition {
  /* apparition et disparition */
  /* _loadspinner */
  0% {
    opacity: 1;
    z-index: 100;
  }
  99% {
    opacity: 0;
    z-index: 100;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes outline-logo {
  /* dessine le contour du SVG */
  /* _loadspinner */
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes swell {
  /* néant -> grossissement -> standard */
  /* _loadspinner _bouton/coeur */
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.5);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes outline-coeur {
  /*dessine le contour du coeur */
  /* _bouton/coeur */
  0% {
    stroke: $primary; 
  }
  100% {
    stroke-dashoffset: 0px;
    stroke: $primary;
  }
}
@keyframes swell-focus {
  /* effet loupe */
  /*_card/tutorial-card, _card/accueil-menu-card, _card/menu-card */
  to {
    transform: scale(1.1);
  }
}

  @keyframes grossir {
    0% {
        width: 0;
    }
    100% {
        width: 10%;
    }
}
@keyframes slide_left {
    0% {
        margin-left: 100%;
        width: 0; 
    }
    100% {
        margin-left: 0;
        width: 100%;
    }
}
@keyframes slide_right {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes slide_up {
    0% {
        margin-top: 500px;
    }
    100% {
        margin-top: 0px;
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0turn);
    }
    100% {
        transform: rotate(1turn);
    }
}

@keyframes remplissage {
    0% {
        height: 0;
        
    }

    100% {
        height: 35px;
    }
}
@keyframes opacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }