@keyframes apparition {
  /* apparition et disparition */
  /* _loadspinner */
  0% {
    opacity: 1;
    z-index: 100;
  }
  99% {
    opacity: 0;
    z-index: 100;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes outline-logo {
  /* dessine le contour du SVG */
  /* _loadspinner */
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes swell {
  /* néant -> grossissement -> standard */
  /* _loadspinner _bouton/coeur */
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes outline-coeur {
  /*dessine le contour du coeur */
  /* _bouton/coeur */
  0% {
    stroke: $primary; 
  }
  100% {
    stroke-dashoffset: 0px;
    stroke: $primary;
  }
}
@keyframes swell-focus {
  /* effet loupe */
  /*_card/tutorial-card, _card/accueil-menu-card, _card/menu-card */
  to {
    transform: scale(1.1);
  }
}
@keyframes opacity {
  /* menu/_banniere/title */
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slide_up {
  /* bloc glisse vers le haut de la page */
  /* menu/_menu */
  0% {
      margin-top: 500px;
  }
  100% {
      margin-top: 0px;
  }
}
@keyframes grow-x {
  /* fait grandir un bloc dans la largeur */
  /* sass/bouton/check */
  0% {
    width: 0;
  }
  100% {
    width: 10%;
  }
}
@keyframes slide_left {
  /* bloc glisse vers la gauche */
  /* sass/bouton/check */
    0% {
        margin-left: 100%;
        width: 0; 
    }
    100% {
        margin-left: 0;
        width: 100%;
    }
}
@keyframes turn {
  /* fait tourner l'élément d'une rotation */
  /* sass/bouton/check */
  0% {
      transform: rotate(0turn);
      opacity: 0;
  }
  100% {
      transform: rotate(1turn);
      opacity: 1;
  }
}