@mixin center-bloc{
    display:flex;
    justify-content:center;
}


@mixin violet-btn {
    font-family:'Roboto';
    color: $blanc;
    background: linear-gradient($rose, $violet);
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
}


@mixin violet-numb {
    border-radius: 20px;
    color: $blanc;
    background-color: $violet;
    padding: 2px 6px;
    width: 20px;
    height: 20px;
}


@mixin h1-title {
    font-family:'Roboto';
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 10px;
}
@mixin h2-title {
    font-family:'Roboto';
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 20px;
}
@mixin h4-title {
    font-family:'Roboto';
    font-size:15px;
    color:$noir;
    font-weight: bold;
}

@mixin violet_pc {
    @if (a:hover) {
      --hover: color (violet)
    }
  }