$noir:#000000;
$blanc:#FFFFFF;
$violet:#9356DC;
$rose:#FF79DA;
$mint:#99E2D0;
$vert:#008766;

$gris:#EAE6E9;
$lightgrey-bkg:#f6f6f6;
$gris-noir:#353535;
$box-shadow_card:#e6e6e6;
$box-shadow_header:#cfcfcf;
$bkg-form:#eaeaea;

