/*"sm": 360px,
    "md": 768px,
    "lg": 992px,*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  width: 100%;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#bloc-page {
  max-width: 1400px;
  margin: auto;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.explore__button {
  font-family: "Roboto";
  color: #FFFFFF;
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  margin: 0px 70px;
  border-radius: 20px;
  padding: 10px 15px;
}

.button {
  font-family: "Roboto";
  color: #FFFFFF;
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  border-radius: 30px;
  padding: 15px 45px;
}

.img-card {
  z-index: 2;
  width: 335px;
  height: 200px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.img-bloc {
  width: 100%;
}

header {
  display: flex;
  width: 100%;
  padding: 20px;
  justify-content: center;
  margin-bottom: 3px;
  box-shadow: 0px 3px 7px 0px #cfcfcf;
}
header img {
  width: 180px;
}

@media screen and (max-width: 1400px) {
  .menu-header {
    display: flex;
    width: 100%;
    padding: 20px;
  }
  .menu-header .logo {
    position: absolute;
    left: 45%;
  }
  .menu-header .return {
    margin-top: 5px;
  }
}
@media screen and (max-width: 768px) {
  .menu-header .logo {
    position: absolute;
    left: 30%;
  }
}

form {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 5px 0px;
  color: #353535;
  background-color: #eaeaea;
}
form label {
  font-size: 13px;
}
form input {
  width: 120px;
  border: none;
  font-family: "Roboto";
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  color: #353535;
  background-color: #eaeaea;
}

#explore {
  width: 100%;
  font-family: "Roboto";
  text-align: center;
  background-color: #f6f6f6;
  padding: 40px;
}
#explore h1 {
  font-size: 23px;
  font-weight: 900;
  margin-bottom: 10px;
}
#explore p {
  font-size: 14px;
  font-weight: 400;
  color: #353535;
  margin-bottom: 15px;
}
#explore button {
  font-family: "Roboto";
  color: #FFFFFF;
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
}

@media screen and (max-width: 1400px) {
  #tutorial {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    list-style: none;
    padding: 20px;
  }
  #tutorial ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  #tutorial h2 {
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 20px;
    width: 100%;
  }
  #tutorial li {
    width: 30%;
  }
  #tutorial a {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    text-decoration: none;
  }
  #tutorial a:hover i, #tutorial a:focus i {
    color: #9356DC;
  }
  #tutorial p {
    font-family: "Roboto";
    font-size: 13px;
    position: absolute;
    margin: 23px 0px;
    border-radius: 20px;
    color: #FFFFFF;
    background-color: #9356DC;
    padding: 3px 6px;
    width: 20px;
    height: 20px;
  }
  #tutorial div {
    display: flex;
    align-items: baseline;
    padding: 25px 50px 25px 27px;
    margin-left: 10px;
    width: 100%;
    border-radius: 10px;
    background-color: #f6f6f6;
    box-shadow: 3px 3px 6px -1px #e6e6e6;
    color: #353535;
  }
  #tutorial h4 {
    font-family: "Roboto";
    font-size: 15px;
    color: #000000;
    font-weight: bold;
    margin-left: 30px;
    text-decoration: none;
  }
  #tutorial i {
    width: 20px;
    text-decoration: none;
    color: #353535;
  }
}
@media screen and (max-width: 768px) {
  #tutorial li {
    width: 100%;
  }
}

@media screen and (max-width: 1400px) {
  #accueil-menu {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    flex-wrap: wrap;
    background-color: #f6f6f6;
    padding: 30px 20px;
  }
  #accueil-menu ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  #accueil-menu h2 {
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 20px;
    width: 100%;
  }
  #accueil-menu li {
    width: 35%;
    background-color: #FFFFFF;
    box-shadow: 3px 3px 6px -1px #e6e6e6;
    margin-bottom: 5%;
    border-radius: 15px;
  }
  #accueil-menu li a {
    width: 100%;
    display: flex;
  }
  #accueil-menu li img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
  }
  #accueil-menu li .bloc-new {
    width: fit-content;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: bold;
    color: #008766;
    background-color: #99E2D0;
    padding: 8px;
    border-radius: 2px;
  }
  #accueil-menu li .bloc-new--first {
    position: absolute;
    bottom: 4%;
    right: 59%;
  }
  #accueil-menu li .bloc-new--second {
    position: absolute;
    bottom: 4%;
    right: 11%;
  }
  #accueil-menu li .describ {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px 15px 15px;
  }
  #accueil-menu li .describ div {
    font-family: "Roboto";
  }
  #accueil-menu li .describ div h4 {
    font-family: "Roboto";
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  #accueil-menu li .describ .coeur {
    font-size: 23px;
    margin-top: 7px;
    cursor: pointer;
  }
  #accueil-menu li .describ .coeur input[type=checkbox], #accueil-menu li .describ .coeur .coeur-plein {
    display: none;
  }
  #accueil-menu li .describ .coeur input[type=checkbox]:checked ~ .coeur-plein {
    display: inline-block;
    background: linear-gradient(to top, #9356DC 0%, #FF79DA 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  #accueil-menu li .describ .coeur input[type=checkbox]:hover ~ .coeur-plein {
    display: inline-block;
    background: linear-gradient(to top, #9356DC 0%, #FF79DA 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  #accueil-menu li .describ .coeur input[type=checkbox]:checked ~ .coeur-vide {
    display: none;
  }
  #accueil-menu li .describ .coeur input[type=checkbox]:hover ~ .coeur-vide {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  #accueil-menu li {
    width: 100%;
  }
  #accueil-menu li .bloc-new--first {
    top: 113%;
    bottom: auto;
    left: 68%;
  }
  #accueil-menu li .bloc-new--second {
    top: 151%;
    bottom: auto;
    right: 11%;
  }
}

footer {
  background-color: #353535;
  color: #FFFFFF;
  font-family: "Roboto";
  padding: 20px;
}
footer h4 {
  font-family: "Shrikhand";
  font-size: 18px;
  margin-bottom: 20px;
}
footer ul {
  list-style: none;
}
footer li {
  margin-bottom: 10px;
}
footer li i {
  margin-right: 5px;
}
footer li a {
  text-decoration: none;
  color: #FFFFFF;
}

.menu {
  width: 100%;
  background-color: #f6f6f6;
  padding-bottom: 30px;
}
.menu__title {
  position: absolute;
  top: 232px;
  background-color: #f6f6f6;
  border-radius: 30px 30px 0px 0px;
  width: 100%;
  padding: 30px 20px;
  font-family: "Shrikhand";
  font-size: 25px;
  font-weight: 900;
}
.menu .coeur-vide {
  padding: 2px 8px;
  font-size: 25px;
  position: absolute;
  top: 263px;
  right: 20px;
  z-index: 2;
}
.menu .coeur-plein {
  padding: 2px 8px;
  font-size: 25px;
  position: absolute;
  top: 263px;
  right: 20px;
  color: transparent;
  z-index: 1;
}
.menu .plat {
  font-family: "Roboto";
  padding: 20px;
}
.menu .plat__title {
  width: 23px;
  font-size: 18px;
  border-bottom: 5px solid #99E2D0;
  margin-bottom: 5%;
}
.menu .card {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: #FFFFFF;
  box-shadow: 3px 3px 6px -1px #e6e6e6;
  margin-bottom: 5%;
  border-radius: 15px;
}
.menu .card__check {
  display: none;
}
.menu .card__price {
  font-weight: bold;
  display: flex;
  align-items: end;
}
.menu .plat-describ {
  font-size: 17px;
}
.menu .plat-describ__title {
  font-weight: bold;
  margin-bottom: 5px;
}

.send {
  width: 100%;
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin: 20px auto;
}

/*# sourceMappingURL=style.css.map */
