@keyframes slide_left {
  0% {
    margin-left: 100%;
    width: 0;
  }
  100% {
    margin-left: 0;
    width: 100%;
  }
}
@keyframes slide_right {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slide_up {
  0% {
    margin-top: 500px;
  }
  100% {
    margin-top: 0px;
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}
@keyframes remplissage {
  0% {
    height: 0;
  }
  100% {
    height: 35px;
  }
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  width: 100%;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#bloc-page {
  max-width: 1400px;
  margin: auto;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (max-width: 1400px) {
  * {
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {
  * {
    font-size: 16px;
  }
}

@media screen and (max-width: 1400px) {
  #header_menu .return {
    position: relative;
    right: 40%;
    top: 8px;
  }
}
@media screen and (max-width: 768px) {
  #header_menu .return {
    right: 20%;
  }
}

#explore button {
  font-family: "Roboto";
  color: #FFFFFF;
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  cursor: pointer;
  box-shadow: 3px 6px 4px 2px #e6e6e6;
  transition: all 1s;
}
#explore button:hover {
  background: linear-gradient(#ff9ee4, #9b65da);
  box-shadow: 3px 6px 4px 2px #d3d0d0;
}

#send {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #f6f6f6;
  padding: 30px 0px;
}
#send button {
  font-family: "Roboto";
  color: #FFFFFF;
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  border-radius: 20px;
  padding: 10px 25px;
  box-shadow: 3px 6px 4px 2px #e6e6e6;
}
#send button:hover {
  cursor: pointer;
}

.image {
  display: inline-flex;
  justify-content: end;
  width: 100%;
  height: 170px;
  text-decoration: none;
  border-radius: 15px 15px 0px 0px;
  background-size: cover;
  background-position: center;
}
.image_one {
  background-image: url("../../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}
.image_two {
  background-image: url("../../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}
.image_tree {
  background-image: url("../../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}
.image_four {
  background-image: url("../../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.illus {
  width: 100%;
  height: 230px;
  background-size: cover;
  background-position: center;
}
.illus_one {
  background-image: url("../../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}
.illus_two {
  background-image: url("../../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}
.illus_tree {
  background-image: url("../../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}
.illus_four {
  background-image: url("../../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

#header_accueil {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
  margin-bottom: 3px;
  box-shadow: 0px 3px 7px 0px #cfcfcf;
}
#header_accueil img {
  width: 180px;
}

#header_menu {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
}
#header_menu img {
  width: 180px;
}

form {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 5px 0px;
  color: #353535;
  background-color: #eaeaea;
}
form label {
  font-size: 13px;
}
form input {
  width: 120px;
  border: none;
  font-family: "Roboto";
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  color: #353535;
  background-color: #eaeaea;
}

#explore {
  width: 100%;
  font-family: "Roboto";
  text-align: center;
  background-color: #f6f6f6;
  padding: 40px;
}
#explore h2 {
  font-family: "Roboto";
  font-size: 23px;
  font-weight: 900;
}
#explore p {
  font-size: 14px;
  font-weight: 400;
  color: #353535;
  margin-bottom: 15px;
}

@media screen and (max-width: 1400px) {
  #tutorial {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    list-style: none;
    padding: 20px;
  }
  #tutorial ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  #tutorial ul h3 {
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 900;
    width: 100%;
    margin: 20px 0px;
  }
  #tutorial ul .card {
    width: 30%;
  }
  #tutorial ul .card a {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    text-decoration: none;
  }
  #tutorial ul .card a:hover i, #tutorial ul .card a:focus i {
    color: #9356DC;
  }
  #tutorial ul .card a p {
    font-family: "Roboto";
    font-size: 13px;
    position: absolute;
    margin: 23px 0px;
    border-radius: 20px;
    color: #FFFFFF;
    background-color: #9356DC;
    padding: 3px 6px;
    width: 20px;
    height: 20px;
  }
  #tutorial ul .card a div {
    display: flex;
    align-items: baseline;
    padding: 25px 0px 25px 27px;
    margin-left: 10px;
    width: 100%;
    border-radius: 10px;
    background-color: #f6f6f6;
    box-shadow: 3px 3px 6px -1px #e6e6e6;
    color: #353535;
  }
  #tutorial ul .card a div h4 {
    font-family: "Roboto";
    font-size: 15px;
    font-weight: bold;
    margin-left: 30px;
    text-decoration: none;
  }
  #tutorial ul .card a div i {
    width: 20px;
    text-decoration: none;
    color: #353535;
  }
}
@media screen and (max-width: 768px) {
  #tutorial ul .card {
    width: 100%;
  }
}

@media screen and (max-width: 1400px) {
  #accueil-menu {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    flex-wrap: wrap;
    background-color: #f6f6f6;
    padding: 30px 20px;
  }
  #accueil-menu ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  #accueil-menu ul h3 {
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 900;
    width: 100%;
    margin-bottom: 20px;
  }
  #accueil-menu ul li {
    width: 35%;
    background-color: #FFFFFF;
    box-shadow: 3px 3px 6px -1px #e6e6e6;
    margin-bottom: 5%;
    border-radius: 15px;
  }
  #accueil-menu ul li .bloc-new {
    width: fit-content;
    height: fit-content;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: bold;
    color: #008766;
    background-color: #99E2D0;
    padding: 8px;
    border-radius: 2px;
    margin-top: 20px;
    margin-right: 20px;
  }
  #accueil-menu ul li .describ {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px 15px 15px;
  }
  #accueil-menu ul li .describ h4 {
    font-family: "Roboto";
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  #accueil-menu ul li .describ p {
    font-family: "Roboto";
  }
  #accueil-menu ul li .coeur {
    font-size: 23px;
    margin-top: 7px;
    cursor: pointer;
  }
  #accueil-menu ul li .coeur input[type=checkbox], #accueil-menu ul li .coeur .coeur-plein {
    display: none;
  }
  #accueil-menu ul li .coeur input[type=checkbox]:checked ~ .coeur-plein {
    display: inline-block;
    background: linear-gradient(to top, purple 0%, pink 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  #accueil-menu ul li .coeur input[type=checkbox]:hover ~ .coeur-plein {
    display: inline-block;
    background: linear-gradient(to top, purple 0%, pink 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  #accueil-menu ul li .coeur input[type=checkbox]:checked ~ .coeur-vide {
    display: none;
  }
  #accueil-menu ul li .coeur input[type=checkbox]:hover ~ .coeur-vide {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  #accueil-menu ul li {
    width: 100%;
  }
}

footer {
  background-color: #353535;
  color: #FFFFFF;
  font-family: "Roboto";
  padding: 20px;
}
footer h5 {
  font-family: "Shrikhand";
  font-size: 18px;
  margin-bottom: 20px;
}
footer ul {
  list-style: none;
}
footer li {
  margin-bottom: 10px;
}
footer li i {
  margin-right: 5px;
}
footer li a {
  text-decoration: none;
  color: #FFFFFF;
}

#menu {
  animation-name: slide_up;
  animation-duration: 2000ms;
}
@media screen and (max-width: 1400px) {
  #menu {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #f6f6f6;
  }
  #menu .choice {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 33%;
    background-color: #f6f6f6;
    padding: 30px;
  }
  #menu .choice h5 {
    font-family: "Roboto";
    font-size: 20px;
    border-bottom: 4px solid #99E2D0;
    margin-bottom: 15px;
    padding-bottom: 5px;
    width: 30px;
    animation-name: slide_right;
    animation-duration: 3000ms;
    animation-timing-function: cubic-bezier(1, 0, 0.66, 0.98);
  }
  #menu .choice .card {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    border-radius: 10px;
    align-items: center;
    background-color: #FFFFFF;
    font-family: "Roboto";
    font-size: 12px;
    margin: 10px 0px;
    cursor: pointer;
  }
  #menu .choice .card .menu_describ {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 75%;
    padding: 15px;
  }
  #menu .choice .card .menu_describ h4 {
    width: 100%;
    height: 50%;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #menu .choice .card .menu_describ p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  #menu .choice .card .prix {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    width: fit-content;
    font-size: 15px;
    font-weight: bold;
    margin-right: 10px;
  }
  #menu .choice .card .box {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }
  #menu .choice .card .box:checked ~ .container {
    width: 100%;
  }
  #menu .choice .card .check {
    display: none;
    height: 100%;
    width: 10%;
    border-radius: 0px 10px 10px 0px;
  }
  #menu .choice .card .container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #99E2D0;
    border-radius: 0px 10px 10px 0px;
    font-size: 18px;
    color: white;
    width: 0;
    height: 100%;
  }
  #menu .choice .card:hover .check {
    display: block;
  }
  #menu .choice .card:hover .container {
    animation-name: slide_left;
    animation-duration: 700ms;
    animation-fill-mode: forwards;
  }
  #menu .choice .card:hover .container i {
    animation: rotation 500ms linear;
  }
}
@media screen and (max-width: 768px) {
  #menu .choice {
    width: 100%;
  }
}

@media screen and (max-width: 1400px) {
  #banniere {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 35px 35px 0px 35px;
    border-radius: 35px 35px 0px 0px;
    background-color: #f6f6f6;
    z-index: 1;
    margin-top: -30px;
  }
  #banniere h1 {
    font-family: "Shrikhand";
    font-size: 35px;
    animation-name: slide_right;
    animation-duration: 2000ms;
    animation-timing-function: cubic-bezier(1, 0, 0.66, 0.98);
  }
  #banniere .coeur {
    font-size: 35px;
    cursor: pointer;
    animation-name: slide_right;
    animation-duration: 3000ms;
    animation-timing-function: cubic-bezier(1, 0, 0.66, 0.98);
  }
  #banniere .coeur input[type=checkbox], #banniere .coeur .coeur-plein {
    display: none;
  }
  #banniere .coeur input[type=checkbox]:checked ~ .coeur-plein {
    display: inline-block;
    background: linear-gradient(to top, #9356DC 0%, #FF79DA 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  #banniere .coeur input[type=checkbox]:hover ~ .coeur-plein {
    display: inline-block;
    background: linear-gradient(to top, #9356DC 0%, #FF79DA 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: remplissage 3000ms backwards;
  }
  #banniere .coeur input[type=checkbox]:checked ~ .coeur-vide {
    display: none;
  }
  #banniere .coeur input[type=checkbox]:hover ~ .coeur-vide {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  #banniere h1 {
    font-size: 25px;
  }
  #banniere .coeur {
    font-size: 25px;
  }
}

/*# sourceMappingURL=style.css.map */
