html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  width: 100%;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#bloc-page {
  max-width: 1400px;
  margin: auto;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.explore__button {
  font-family: "Roboto";
  color: #FFFFFF;
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  margin: 0px 70px;
  border-radius: 20px;
  padding: 10px 15px;
}

.coeur-plein:hover {
  background: linear-gradient(to top, #9356DC 0%, #FF79DA 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.coeur-plein:active {
  background: linear-gradient(to top, #9356DC 0%, #FF79DA 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo {
  width: 150px;
}

.img-card {
  z-index: 2;
  width: 335px;
  height: 200px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.img-bloc {
  width: 100%;
}

@media screen and (max-width: 1400px) {
  .accueil-header {
    display: flex;
    width: 100%;
    height: 60px;
    padding: 20px;
    margin-bottom: 3px;
  }
}
@media screen and (max-width: 768px) {
  .accueil-header {
    box-shadow: 0px 3px 7px 0px #cfcfcf;
  }
  .accueil-header .logo {
    position: absolute;
    left: 30%;
  }
}

@media screen and (max-width: 1400px) {
  .menu-header {
    display: flex;
    width: 100%;
    height: 60px;
    padding: 20px;
    margin-bottom: 3px;
  }
  .menu-header .logo {
    position: absolute;
    left: 45%;
  }
  .menu-header .return {
    margin-top: 5px;
  }
}
@media screen and (max-width: 768px) {
  .menu-header .logo {
    position: absolute;
    left: 30%;
  }
}

@media screen and (max-width: 1400px) {
  form {
    display: flex;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 5px 20px;
    border-radius: 5px;
    color: #353535;
    background-color: #eaeaea;
  }
  form input {
    display: flex;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: bold;
    width: 120px;
    text-align: center;
    border: none;
    color: #353535;
    background-color: #eaeaea;
  }
}
@media screen and (max-width: 768px) {
  form {
    position: inherit;
    justify-content: center;
    width: 100%;
    padding: 10px 0px;
  }
  form input {
    margin-left: 7px;
  }
}

@media screen and (max-width: 768px) {
  .explore {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Roboto";
    text-align: center;
    background-color: #f6f6f6;
    padding: 20px;
  }
  .explore__title {
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 10px;
  }
  .explore__text {
    font-weight: 400;
    color: #353535;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 768px) {
  .tutorial {
    --hover: color (violet) ;
    padding: 20px;
  }
  .tutorial__title {
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 20px;
  }
  .tutorial .tuto-container {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    text-decoration: none;
  }
  .tutorial .tuto-container__numb {
    font-family: "Roboto";
    font-size: 13px;
    border-radius: 20px;
    color: #FFFFFF;
    background-color: #9356DC;
    padding: 3px 6px;
    width: 20px;
    height: 20px;
    margin: 23px 0px;
    z-index: 2;
    text-decoration: none;
  }
  .tutorial .tuto-container .card {
    display: flex;
    align-items: baseline;
    width: 95%;
    border-radius: 10px;
    padding: 25px 50px 25px 27px;
    background-color: #f6f6f6;
    box-shadow: 3px 3px 6px -1px #e6e6e6;
    color: #353535;
    z-index: 1;
  }
  .tutorial .tuto-container .card__text {
    font-family: "Roboto";
    font-size: 15px;
    color: #000000;
    font-weight: bold;
    margin-left: 30px;
    text-decoration: none;
  }
  .tutorial .tuto-container .card__icon {
    color: #353535;
    width: 20px;
    text-decoration: none;
  }
}

@media screen and (max-width: 768px) {
  #accueil-menu {
    background-color: #f6f6f6;
    padding: 30px 20px 0px 20px;
    display: flex;
    flex-direction: column;
  }
  #accueil-menu .accueil-menu__title {
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 20px;
  }
  #accueil-menu .card {
    background-color: #FFFFFF;
    width: 335px;
    height: auto;
    border-radius: 15px;
    box-shadow: 3px 3px 6px -1px #e6e6e6;
    margin-bottom: 20px;
  }
  #accueil-menu .card .card-illus {
    display: flex;
  }
  #accueil-menu .card .card-illus__new {
    z-index: 1;
    width: 70px;
    height: 26px;
    color: #008766;
    background-color: #99E2D0;
    margin: 25px 0px 0px -90px;
    padding: 5px;
  }
}

@media screen and (max-width: 768px) {
  .accueil-menu-describ {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px 15px 15px;
  }
}

@media screen and (max-width: 768px) {
  .accueil-menu-describ-text {
    font-family: "Roboto";
  }
  .accueil-menu-describ-text__title {
    font-family: "Roboto";
    font-size: 15px;
    color: #000000;
    font-weight: bold;
    margin-bottom: 5px;
  }
  .accueil-menu-describ-text .coeur-vide {
    font-size: 25px;
    z-index: 1;
    margin-right: -37px;
  }
}

@media screen and (max-width: 768px) {
  footer {
    background-color: #353535;
    color: #FFFFFF;
    font-family: "Roboto";
    padding: 20px;
  }
  footer h4 {
    font-family: "Shrikhand";
    font-size: 18px;
    margin-bottom: 20px;
  }
  footer ul {
    list-style: none;
  }
  footer li {
    margin-bottom: 10px;
  }
  footer li i {
    margin-right: 5px;
  }
  footer li a {
    text-decoration: none;
    color: #FFFFFF;
  }
}

.menu {
  width: 100%;
  background-color: #f6f6f6;
  padding-bottom: 30px;
}
.menu__title {
  position: absolute;
  top: 232px;
  background-color: #f6f6f6;
  border-radius: 30px 30px 0px 0px;
  width: 100%;
  padding: 30px 20px;
  font-family: "Shrikhand";
  font-size: 25px;
  font-weight: 900;
}
.menu .coeur-vide {
  padding: 2px 8px;
  font-size: 25px;
  position: absolute;
  top: 263px;
  right: 20px;
  z-index: 2;
}
.menu .coeur-plein {
  padding: 2px 8px;
  font-size: 25px;
  position: absolute;
  top: 263px;
  right: 20px;
  color: transparent;
  z-index: 1;
}
.menu .plat {
  font-family: "Roboto";
  padding: 20px;
}
.menu .plat__title {
  width: 23px;
  font-size: 18px;
  border-bottom: 5px solid #99E2D0;
  margin-bottom: 5%;
}
.menu .card {
  display: flex;
  justify-content: space-between;
  border-radius: 14px;
  padding: 15px;
  background-color: #FFFFFF;
  box-shadow: 3px 3px 6px -1px #e6e6e6;
  margin-bottom: 5%;
}
.menu .card__check {
  display: none;
}
.menu .card__price {
  font-weight: bold;
  display: flex;
  align-items: end;
}
.menu .plat-describ {
  font-size: 17px;
}
.menu .plat-describ__title {
  font-weight: bold;
  margin-bottom: 5px;
}

.send {
  width: 100%;
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin: 20px auto;
}
.send .button {
  font-family: "Roboto";
  color: #FFFFFF;
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  border-radius: 30px;
  padding: 15px 45px;
}

/*# sourceMappingURL=style.css.map */
