#accueil-menu {
    @include bp ("lg") {
        @include ligne-bloc;
        background-color:$lightgrey-bkg;
        .accueil-menu__title {
            @include h2-title;
            width:100%;
        }
        .card {
            @include style-card--blanc;
            margin: 20px;
        }
    }
    @include bp ("sm") {
        background-color:$lightgrey-bkg;
        padding: 30px 20px 0px 20px;
        display: flex;
        flex-direction: column;
        .accueil-menu__title {
            @include h2-title;
        }
        .card {
            @include style-card--blanc;
            width:100%;
            .card-illus {
                display:flex;
                width: 100%;
                &__new {
                    z-index: 1;
                    width: 70px;
                    height: 26px;
                    color: $vert;
                    background-color: $mint;
                    margin: 25px 0px 0px -90px;
                    padding: 5px;
                }
            }
        }
    }
}

.accueil-menu-describ {
    @include bp ("sm") {
    display:flex;
    justify-content: space-between;
    padding: 15px 20px 15px 15px;
    }
}
.accueil-menu-describ-text{
    @include bp ("sm") {
    font-family: 'Roboto';
    &__title {
        @include h4-title;
        margin-bottom:5px;
    }
        .coeur-vide {
            font-size:25px;
            z-index:1;
            margin-right: -37px;
        }
    }
}