#explore {
    width: 100%;
    font-family:'Roboto';
    text-align:center;
    background-color:$lightgrey-bkg;
    padding:40px;
    h1 {
        font-size:23px;
        font-weight: 900;
        margin-bottom: 10px;
    }
    p {
        font-size: 14px;
        font-weight: 400;
        color:$gris-noir;
        margin-bottom: 15px;
    }
    button {
        @include violet-btn;
        border-radius: 20px;
        padding: 10px 15px;
    }
}
