footer {
    background-color:$gris-noir;
    color:$blanc;
    font-family:'Roboto';
    padding:20px;
    h5 {
        @include h5;
        margin-bottom: 20px;
    }
    ul {
        list-style:none;
    }
    li {
        margin-bottom:10px;
        i {
            margin-right:5px;
        }
    }
    li a {
        text-decoration: none;
        color:$blanc;
    }
}