form {
    @include bp ("sm") {
        @include center-bloc;
        font-size: 14px;
        font-weight: bold;
        color:$gris-noir;
        background-color:$bkg-form;
        padding:10px 0px;
        input {
            width: 120px;
            font-family:"Roboto";
            font-size: 14px;
            font-weight: bold;
            color:$gris-noir;
            background-color:$bkg-form;
            border: none;
            margin-left: 7px;
        }
    }
}