@mixin form-bloc {
    display: flex;
    justify-content:center;
    width:100%;
}
@mixin form-style {
    color:$gris-noir;
    background-color:$bkg-form;
}
@mixin form-font {
    font-family:"Roboto";
    font-size: 13px;
    font-weight: bold;
}

form {
    @include form-bloc;
    padding: 5px 0px;
    @include form-style;
    label {
        font-size: 13px;
    }
    input {
        width:120px;
        border: none;
        @include form-font;
        text-align: center;
        @include form-style;
    }
}