@mixin header-bloc {
    display: flex;
    width: 100%;
    height: 60px;
    padding: 20px;
    margin-bottom: 3px;
}

.accueil-header {
    @include bp ("lg") {
        @include header-bloc;
    }
    @include bp ("sm") {
        box-shadow: 0px 3px 7px 0px $box-shadow_header;
        .logo {
            @include logo-sm;
        }
    }   
}


.menu-header {
    @include bp ("lg") {
        @include header-bloc;
        .logo {
            @include logo-lg;
        }
        .return {
            margin-top: 5px;
        }
    }
    @include bp ("sm") {
        .logo {
            @include logo-sm;
        }
    }
}