@mixin header-bloc {
    display: flex;
    width: 100%;
    padding: 20px;
}

header {
    @include header-bloc;
    justify-content: center;
    margin-bottom: 3px;
    box-shadow: 0px 3px 7px 0px $box-shadow_header;
    img {
        width: 180px;
    }
}
.menu-header {
    @include header-bloc;
    img {
        width: 180px;
    }
    .return {
        margin-top: 5px;
    }
    }
    @include bp ("sm") {
        .logo {
            @include logo-sm;
        }
    }
}