.accueil-header{
    @include bp ("sm") {
    @include center-bloc;
    padding: 20px;
    margin-bottom: 3px;
    box-shadow: 0px 3px 7px 0px $box-shadow_header;
    }
}

.menu-header {
    @include bp ("sm") {
    display:flex;
    padding: 20px;
    margin-bottom: 3px;
    box-shadow: 0px 1px 5px 0px grey;
    &__logo {
        justify-content:center;
    }
    }
}