.map {
    @include center-bloc;
    background-color:$bkg-map;
    padding:10px 0px;
    color:$gris-typo;
    font-size: 14px;
    font-weight: bold;
    &__city{
        font-family:'Roboto';
        margin-left:1%;
    }
}