footer {
    background-color:$background-dark;
    color:#FFFFFF;
    font-family:'Roboto';
    padding:20px;
    h5 {
        font-family: "Shrikhand";
        font-size: 18px;
        margin-bottom: 20px;
    }
    ul {
        list-style:none;
    }
    li {
        margin-bottom:10px;
        i {
            margin-right:5px;
        }
    }
    li a {
        text-decoration: none;
        color:#FFFFFF;
        &:hover, &:focus {
            color: $primary;
        }
        &:active {
            color: $secondary;
        }
    }
}