.footer {
    padding:20px;
    background-color:$background-dark;
    color: #FFF;
    font-family:'Roboto';
    &__title {
        margin-bottom: 20px;
        font-family: "Shrikhand";
        font-size: 25px; 
    }
}
.footer__list {
    list-style:none;
}
.footer__list li {
    margin-bottom:10px;
}
.footer__link {
    text-decoration: none;
    color:#FFF;
    &:hover, &:focus {
        color: $primary;
    }
    &:active {
        color: $secondary;
    }
    .icon {
        margin-right:5px;
    }
}