#header_accueil {
    @include center-bloc;
    padding: 20px;
}

#header_menu {
    @include center-bloc;
    position: relative;
    padding: 20px;
}

/*.logo = sass/composants/images */
/*.return = sass/composants/bouton */