.map {
    @include center-bloc;
    background-color:#EAE6E9;
    padding:10px 0px;
    color:#504e4e;
    font-size: 14px;
    font-weight: bold;
    &__city{
        font-family:'Roboto';
        margin-left:1%;
    }
}
.explore {
    @include center-bloc;
    flex-direction:column;
    text-align:center;
    background-color:#f2f2f299;
    padding:20px;
    &__title {
        font-family:'Roboto';
        font-size:30px;
        font-weight: 700;
        margin-bottom: 10px;
    }
    &__text {
        font-family:'Roboto';
        font-weight: 100;
    }
}