.map {
    @include center-bloc;
    background-color:#EAE6E9;
    padding:10px 0px;
    color:$gris-typo;
    font-size: 14px;
    font-weight: bold;
    &__city{
        font-family:'Roboto';
        margin-left:1%;
    }
}
.explore {
    @include center-bloc;
    flex-direction:column;
    font-family:'Roboto';
    text-align:center;
    background-color:$gris-bkg;
    padding:20px;
    &__title {
        font-size:30px;
        font-weight: 900;
        margin-bottom: 10px;
    }
    &__text {
        font-weight: 400;
        color:$gris-typo;
        margin-bottom: 15px;
    }
}
.tutorial {
    padding:20px;
    &__title {
       @include h2-title;
    }
    .tuto-container{
        display:flex;
        margin-bottom: 20px;
        &__numb {
            font-family:'Roboto';
            font-size: 13px;
            border-radius: 20px;
            color: $blanc;
            background-color: $violet;
            padding: 3px 6px;
            width: 20px;
            height: 20px;
            margin: 23px 0px;
            z-index: 1;
        }
        .card {
            display: flex;
            justify-content:space-around;
            align-items: baseline;
            width:95%;
            border-radius: 10px;
            padding: 25px 50px 25px 15px;
            background-color: $gris-bkg;
            box-shadow: 3px 3px 6px -1px lightgrey;
            margin-left: -10px;
            color:$gris-typo;
            &__text {
                @include h4-title;
                margin-left: 5px;
            }
            &__icon--gris {
                color:$gris-typo;
            }
            &__icon--violet {
                color:$violet;
            }
        }
    }
}
.accueil-menu {
    background-color:$gris-bkg;
    padding: 30px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    &__title {
        @include h2-title;
    }
    .card {
        background-color:$blanc;
        width:320px;
        height:auto;
        border-radius: 15px;
        box-shadow: 3px 3px 6px -1px lightgrey;
        margin-bottom: 20px;
        .card-illus {
            display:flex;
            &__img {
                z-index: 2;
                width: 320px;
                height: 200px;
                object-fit: cover;
                border-radius: 15px 15px 0 0;
            }
            &__new {
                z-index: 1;
                width: 70px;
                height: 26px;
                color: green;
                background-color: $mint;
                margin: 25px 0px 0px -90px;
                padding: 5px;
            }
        }
    }
}
.accueil-menu-describ {
    display:flex;
    justify-content: space-between;
    padding: 15px 20px 15px 15px;
}
.accueil-menu-describ-text{
    font-family: 'Roboto';
    &__title {
        @include h4-title;
        margin-bottom:5px;
    }
    &__icon {
        font-size:25px;
        z-index:1;
        margin-right: -37px;
    }
    &__icon--hover {
        padding: 2px 8px;
        font-size: 25px;
        color:transparent;
        z-index:2;
        &:hover {
            background: linear-gradient(to top, $violet 0%,$rose 100%);
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            
        }
        &:active {
            background: linear-gradient(to top, $violet 0%,$rose 100%);
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            
        }
    }
}
