.menu {
    width: 100%;
    background-color: $lightgrey-bkg;
    padding-bottom: 30px;
    &__title {
        position: absolute;
        top: 232px;
        background-color: $lightgrey-bkg;
        border-radius: 30px 30px 0px 0px;
        width: 100%;
        padding: 30px 20px;
        font-family:'Shrikhand';
        font-size: 25px;
        font-weight: 900;
    }
    .coeur-vide {
        @include coeur-bloc;
        position: absolute;
        top: 263px;
        right: 20px;
        z-index: 2;
    }
    .coeur-plein {
        @include coeur-bloc;
        position: absolute;
        top: 263px;
        right: 20px;
        color:transparent;
        z-index: 1;
    }
    .plat {
        font-family: 'Roboto';
        padding: 20px;
        &__title {
            width: 23px;
            font-size: 18px;
            border-bottom: 5px solid $mint;
            margin-bottom: 5%;
        }
    }
    .card { 
        display: flex;
        justify-content: space-between;
        padding: 15px;
        @include style-card--blanc;
        &__check {
            display: none;
        }
        &__price {
            font-weight: bold;
            display: flex;
            align-items: end;
        }
    }
    .plat-describ{
        font-size: 17px;
        &__title {
            font-weight: bold;
            margin-bottom: 5px;
        }
    }
}
.send {
    width: 100%;
    display: flex;
    justify-content:center;
    text-decoration: none;
    margin: 20px auto;
}
