.banniere {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 35px 35px 0px 35px;
    border-radius: 35px 35px 0px 0px;
    background-color:$background-light;
    z-index:1;
    margin-top: -30px;
    &__title {
        @include bp ("lg") {
            font-size: 35px;
        }
        @include bp ("sm") {
            font-size: 25px;
        }
        font-family: 'Shrikhand';
        animation: opacity 1500ms backwards;
        animation-delay: 1500ms;
    }
    .coeur {
        animation: opacity 1500ms backwards;
        animation-delay: 2000ms;
    }
}
   