.menu {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color:$background-light;
    animation-name: slide_up;
    animation-duration: 2000ms;
}
.choice {
    @include bp ("lg") {
        width: 33%;
    }
    @include bp ("sm") {
        width: 100%;
    }
    display:flex;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color:$background-light;
    padding: 30px;
    &--1 {
        animation: opacity 1500ms backwards;
        animation-delay: 2250ms;
    }
    &--2 {
        animation: opacity 1500ms backwards;
        animation-delay: 2500ms;
    }
    &--3 {
        animation: opacity 1500ms backwards;
        animation-delay: 2750ms;
    }
    &__title {
        font-family: 'Roboto';
        font-size: 20px;
        border-bottom: 4px solid $tertiary;
        margin-bottom: 15px;
        padding-bottom: 5px;
        width: 30px;
    }
}
.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    background-color: #FFF;
    font-family: 'Roboto';
    font-size: 12px;
    margin: 10px 0px;
    @include box-shadow;
    cursor: pointer;
    &--1 {
        animation: opacity 500ms backwards;
        animation-delay: 2500ms;
    }
    &--2 {
        animation: opacity 500ms backwards;
        animation-delay: 2800ms;
    }
    &--3 {
        animation: opacity 500ms backwards;
        animation-delay: 3100ms;
    }
    &--4 {
        animation: opacity 500ms backwards;
        animation-delay: 3400ms;
    }
    &:hover, &:focus {
        .check {
            animation: grow-x 700ms linear forwards;
        }
        .container {
            animation: slide_left 600ms forwards;
            .icon {
                animation: turn 600ms linear ;
                position: static;
                opacity: 1;
            }
        }
    }
}
.describ {
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    width: 75%;
    padding: 15px;
    &__title {
        width: 100%;
        height: 50%;
        font-family:'Roboto';
        font-size:14px;
        font-weight: bold;
        margin-bottom:5px;
        @include text-cut;
    }
    &__text {
        @include text-cut;
    }
}
.prix {
    display: flex;
    justify-content:center;
    align-items:center;
    width: fit-content;
    height: 100%;
    font-size:15px;
    font-weight: bold;
    margin-right: 10px;
}